<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56617049192-39ks57rk3or5qjquobqnr72o4bk6uppu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56617049192-39ks57rk3or5qjquobqnr72o4bk6uppu</string>
	<key>API_KEY</key>
	<string>AIzaSyBer50X783lixJJi4QFfGE9IjI4Dgp3Tqo</string>
	<key>GCM_SENDER_ID</key>
	<string>56617049192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kuapp3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kuapp3-cff8d</string>
	<key>STORAGE_BUCKET</key>
	<string>kuapp3-cff8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56617049192:ios:975bf14d919547dcccafdd</string>
</dict>
</plist>